[Unit]
Description=dns-stack 每日更新中国 IP 与 PSL

[Timer]
OnActiveSec=3min
OnUnitActiveSec=1d
RandomizedDelaySec=30min
Persistent=true

[Install]
WantedBy=timers.target
